*{
    color: aliceblue;
    background-color: #121212 !important;
}
/* .card{
    border-color: #fff !important;
} */

.suggestions{
    background-color: #169c46 !important;
    padding-bottom: 3px;
}

